.iframe100 {   display: block;   border: none;  height: 50vh;   width: 100vw; }
.iframe200 {   display: block;   border: none;  height: 100vh;   width: 100vw; }

video {
  width: 100%    !important;
  height: auto   !important;
}

.iframeWrapper{
  display:inline-block;
  position:relative;
}
.iframeWrapper:after{ /* I have higher Z-index so I can catch the click! Yey */
  content:"";
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
  left:0;
  top:0;
}

.iframeWrapper iframe{
  vertical-align:top;
}